/****** Script for SelectTopNRows command from SSMS  ******/
select * from Category

--insert into Category 
--values ('Flour'),
--('Spices'),
--('Pastes, Pickels & Chutneys'),
--('Fresh & Diary Food'),
--('Frozen Foods'),
--('Kitchenware'),
--('Health & Beauty'),
--('Tea & Coffee'),
--('Snacks'),
--('Sweets'),
--('Lentils'),
--('Religious Section'),
--('Mobile Appliances'),
--('Stationary')
